python-telegram-bot
Pillow~=9.1.0
pyzbar==0.1.9
requests~=2.27.1
bs4~=0.0.1
beautifulsoup4==4.11.1
pymongo~=4.1.1
polyglot~=16.7.4
PyICU==2.9
pycld2==0.41
Morfessor==2.0.6
matplotlib~=3.5.2
seaborn~=0.11.2
pandas~=1.4.2
opencv-python==4.5.5.64
numpy==1.22.4