python-telegram-bot==13.12
Pillow==9.1.1
pyzbar==0.1.9
requests~=2.27.1
bs4~=0.0.1
beautifulsoup4==4.11.1
pymongo~=4.1.1
pymongo[srv]
dnspython
matplotlib~=3.5.2
seaborn~=0.11.2
pandas~=1.4.2
opencv-python==4.5.5.64
numpy==1.22.4
geopy~=2.2.0
pycountry_convert
regex_engine
langdetect~=1.0.9
python-dotenv~=0.20.0